body {
	background-color: #3D6328;
	font-family:  Arial, sans-serif;
}

hr {
	color: black;
}
	
#entete {
	width: 900px;
	height: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #90EA60; --IMAGE A METTRE
	--border-style: solid;
	--border-color: gray;
}
	
#navigation {
	border-style: solid;
	border-color: gray;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 600px;
	border-radius: 0 0 20px 20px;
}
	
#contenu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	max-width: 1000px;
	min-width: 750px;
	text-align: left;
	background-color: gray;
	border-radius: 10px 10px 0 0;
}

#accueil h1  {
	text-align: center;
}

#liste_recettes .recette {
	background-color: #787878;
	padding: 5px;
	margin-top: 10px;
	height: 180px;
}

#liste_recettes .recette:hover {
	background-color: #888888;
	box-shadow: 5px 5px 9px #383838;
}

#liste_recettes .recette h3 {
	margin-top: 10px;
}

#liste_recettes .recette h4 {
	margin-top: -15px;
	font-style: italic;
}

#liste_recettes .recette .texte_recette {
	margin-top: -10px;
	margin-bottom: -5px;
}

#liste_recettes .recette h4 a {
	font-style: normal;
}

#liste_recettes .recette h3 a {
	color: black;
}

#liste_recettes .recette .img_recette {
	float: left;
	margin-right: 5px;
	weight: 150px;
	height: 150px;
	line-height: 180px;
	vertical-align: middle;
}

#contenu a {
	color: #993300;
	text-decoration: none;
}

#contenu a:hover {
	text-decoration: underline;
}

#detail_recette {
	margin: 10px;
	padding: 5px;
	padding-top: 1px;
}

#detail_recette #presentation h1{
	text-align: center;
}

#detail_recette .auteur_recette {
	font-style: italic;
	font-weight: bold;
}

#detail_recette .auteur_recette a {
	font-style: normal;
}

#detail_recette #presentation .img_recette {
	float: right;
	weight: 300px;
	height: 300px;
	margin-left: 10px;
	box-shadow: 8px 8px 12px #383838;
}

#liste_commentaires .commentaire  h4 {
	border: solid 1px black;
	border-radius: 0 20px 0 0;
	padding: 5px;
	background-color: #505050;
	margin-bottom: 0px;
}

#liste_commentaires .commentaire  p {
	padding: 5px;
	border: solid 1px black;
	border-top: 0px;
	margin-top: 0px;
}

#liste_commentaires .commentaire a {
	color: black;
}

.commentaire .img_sup_com {
	float: right;
	margin-right: 10px;
}

#liste_categories {
	padding-top: 1px;
}

#liste_categories  h1 {
	text-align: center;
}

#liste_categories  h1 a {
	color: black;
}

#liste_categories .categorie {
	background-color: #787878;
	padding: 5px;
	margin-top: 10px;
	height: 280px;
}

#liste_categories .categorie:hover {
	background-color: #888888;
	box-shadow: 5px 5px 9px #383838;
}

#liste_categories #categorie_selection {
	background-color: #787878;
	padding: 5px;
	margin-top: 10px;
	height: 310px;
}

#liste_categories  #categorie_selection .img_categorie {
	width: 500px;
	height: 250px;
	margin: 0 auto;
	display: block;
}

#liste_categories .categorie .img_categorie {
	float: left;
	width: 500px;
	height: 250px;
	margin: 10px;
}

#formulaire_connexion {
	width: 300px;
	margin: 0 auto;
	display: block;
	border-radius: 0 15px 0 0;
}

#add_com fieldset {
	border: 1px solid black;
	border-radius: 0 20px 0 0;
}

#add_com #add_com_form {
	width: 80%;
	margin: 0 auto;
	display: block;
}

#add_com textarea {
	width: 100%;
	height: 100px;
}
	
#pied {
	bottom: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #333333;
	max-width: 1000px;
	min-width: 750px;
	bottom: 0;
}
