body {
	background-color: #3D6328;
	font-family:  Arial, sans-serif;
}
	
#entete {
	width: 900px;
	height: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #90EA60; --IMAGE A METTRE
	--border-style: solid;
	--border-color: gray;
}

	
#navigation {
	border-style: solid;
	border-color: gray;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 600px
}
	
#contenu {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	min-width: 750px;
	text-align: left;
	background-color: gray;	
}

#detail_recette {
	margin: 10px;
	padding: 5px;
	padding-top: 1px;
}

#detail_recette hr {
	color: black;
	margin-right: 10px;
}

#detail_recette #presentation h1{
	text-align: center;
}

#detail_recette #presentation .img_recette {
	float: right;
}
	
#pied {
	bottom: auto;	
	background-color: #333333;
	width: 100%;
	bottom: 0;
}
